{% extends "base.html" %}

{% block title %}
    <title>Заявки к поставщикам</title>
    <style>
        .requests-container {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            flex-wrap: wrap;
        }

        .request-card {
            width: 30%;
            margin-bottom: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            position: relative;
        }

        .request-card-header {
            background-color: #3e8241;
            color: #fff;
            padding: 10px;
            font-weight: bold;
            text-align: center;
        }

        .request-card-body {
            padding: 20px;
        }

        .request-details {
            margin-bottom: 10px;
        }

        .delete-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .message-time {
            font-size: 12px;
            color: #000000;
            margin-top: 8px;
        }

        @media only screen and (max-width: 768px) {
            .request-card {
                width: 48%;
            }
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .modal-content {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .modal-buttons {
            margin-top: 10px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block header %}Заявки к поставщикам{% endblock %}

{% block content %}
    <div class="requests-container">
        {% for element in data %}
            <div class="request-card" data-request-id="{{ element.id }}">
                <div class="request-card-header">#{{ element.id }}
                    <div class="message-time">
                        {{ element.datetime_create }}
                    </div>
                </div>
                <div class="delete-button" onclick="deleteRequest({{ element.id }})">❌</div>
                <div class="request-card-body">
                    <div class="request-details">
                        <strong>Тип заявки:</strong> {{ element.application_type }}
                    </div>
                     <div class="request-details">
                        <strong>Куда отправляли:</strong> {{ element.social_network }}
                    </div>
                    <div class="request-details">
                        <strong>Фирма мотоцикла:</strong> {{ element.motorcycle_brand }}
                    </div>
                    <div class="request-details">
                        <strong>Модель мотоцикла:</strong> {{ element.motorcycle_model }}
                    </div>
                    <div class="request-details">
                        <strong>Год выпуска:</strong> {{ element.manufacturing_year }}
                    </div>
                    <div class="request-details">
                        <strong>VIN номер:</strong> {{ element.vin_number }}
                    </div>
                    <div class="request-details">
                        <strong>Номер или название запчасти:</strong> {{ element.part_name_or_article }}
                    </div>
                    <div class="request-details">
                        <a href="/request/details/{{ element.id }}">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal" id="confirmationModal">
        <div class="modal-content">
            <p>Вы уверены, что хотите удалить заявку №<span id="modalRecordId"></span>?</p>
            <div class="modal-buttons">
                <button onclick="confirmDelete()">Да</button>
                <button onclick="closeModal()">Нет</button>
            </div>
        </div>
    </div>
    <script>
        let currentRequestId;

        async function deleteRequest(requestId) {
            currentRequestId = requestId;
            openModal();
        }

        function openModal() {
            const modal = document.getElementById('confirmationModal');
            const modalRecordId = document.getElementById('modalRecordId');
            modalRecordId.textContent = currentRequestId;
            modal.style.display = 'flex';
        }

        function closeModal() {
            const modal = document.getElementById('confirmationModal');
            modal.style.display = 'none';
        }

        async function confirmDelete() {
            try {
                const response = await fetch(`/request/details/delete/${currentRequestId}`, {
                    method: 'DELETE',
                });

                if (response.ok) {
                    const requestCard = document.querySelector(`.request-card[data-request-id="${currentRequestId}"]`);
                    if (requestCard) {
                        requestCard.remove();
                    }
                } else {
                    console.error('Ошибка при удалении заявки');
                }

                closeModal();
            } catch (error) {
                console.error('Произошла ошибка:', error);
            }
        }
    </script>
{% endblock %}
