{% extends "base.html" %}


{% block title %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 100%;
            position: relative;
        }

        label {
            background-color: #fff;
            display: block;
            margin-bottom: 8px;
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            display: none;
        }

        .loading-text {
            font-size: 18px;
            color: #333;
        }

        .success-message {
            color: #4caf50;
            margin-top: 10px;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
    <title>Бот рассылка</title>
{% endblock %}


{% block body %}
    <body>
    <h1 style="margin-top: 100px">Бот рассылка</h1>

    <form id="emailForm" class="mt-3">
        <label for="sellerType">Вид продавца:</label>
        <select id="sellerType" name="seller_type" required>
            <option value="Оптовый">Оптовый</option>
            <option value="Розничный">Розничный</option>
            <option value="Разборка">Разборка</option>
        </select>
        <label for="sellerType">Куда отправляем?:</label>
        <select id="sellerType" name="sending_type" required>
            <option value="email" name="email">Почта</option>
            <option value="telegram_url" name="telegram_url">Телеграм(в разработке)</option>
            <option value="vk_url" name="vk_url">Вконтакте(в разработке)</option>
            <option value="phone_number" name="phone_number">Телефон(в разработке)</option>
            <option value="all" name="all">Везде(в разработке)</option>
        </select>
        <label for="partNumber">Артикул запчасти:</label>
        <input type="text" id="partNumber" name="part_number" required>

        <label for="emailSubject">Тема письма:</label>
        <input type="text" id="emailSubject" name="email_subject" required>

        <label for="emailBody">Текст письма:</label>
        <textarea id="emailBody" name="email_body" rows="8" required></textarea>

        <button type="button" onclick="submitForm()">Начать рассылку</button>
        <div class="loading-overlay" id="loadingOverlay">
            <div class="loading-text">Запускаю рассылку писем...</div>
        </div>

        <div class="success-message" id="successMessage" style="display: none;">
            Письма успешно отправлены!
        </div>

        <div class="error-message" id="errorMessage" style="display: none;">
            Ошибка при отправке писем. Пожалуйста, попробуйте еще раз.
        </div>
    </form>

    <script>
        async function submitForm() {
            const form = document.getElementById('emailForm');
            const loadingOverlay = document.getElementById('loadingOverlay');
            const successMessage = document.getElementById('successMessage');
            const errorMessage = document.getElementById('errorMessage');
            const formData = {
                seller_type: form.elements.seller_type.value,
                sending_type: form.elements.sending_type.value,
                part_number: form.elements.part_number.value,
                email_subject: form.elements.email_subject.value,
                email_body: form.elements.email_body.value
            };

            try {
                loadingOverlay.style.display = 'flex'; // Показываем анимацию загрузки

                const response = await fetch('/send/send_message/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                });

                // Пример: ждем 2 секунды, чтобы показать эффект загрузки
                await new Promise(resolve => setTimeout(resolve, 500));

                // После ответа от сервера
                loadingOverlay.style.display = 'none'; // Скрываем анимацию загрузки

                if (response.ok) {
                    // Если успешно
                    successMessage.style.display = 'block';
                    errorMessage.style.display = 'none'; // Скрываем сообщение об ошибке (если оно видимо)
                } else {
                    // Если ошибка
                    successMessage.style.display = 'none'; // Скрываем сообщение об успехе (если оно видимо)
                    errorMessage.style.display = 'block'; // Показываем сообщение об ошибке
                }
            } catch (error) {
                console.error('Ошибка:', error);
                loadingOverlay.style.display = 'none'; // Скрываем анимацию загрузки
                errorMessage.style.display = 'block'; // Показываем сообщение об ошибке
            }
        }

    </script>
    </body>
{% endblock %}