{% extends "base.html" %}

{% block title %}
<title>{{ name }}</title>
<style>
    form {
        max-width: 600px;
        margin: 20px auto;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input, select, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    #loadingMessage {
        color: white;
        font-size: 20px;
    }

    #messageContainer {
        display: none;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f2f2f2;
    }

    .success-message {
        color: #4CAF50;
        margin-top: 10px;
    }

    .error-message {
        color: red;
        margin-top: 10px;
    }

    @media only screen and (max-width: 600px) {
        input, select {
            width: calc(100% - 16px);
        }
    }


</style>
{% endblock %}

{% block header %}{{ name }}{% endblock %}

{% block content %}
<form id="usedPartsForm" onsubmit="submitUsedPartsForm(); return false;">
    <div class="row">
        <div class="col-md-6">
            <label for="motorcycle_brand">Фирма мотоцикла:</label>
            <select id="motorcycle_brand" name="motorcycle_brand" class="js-example-basic-single"
                    style="width: 100%;"
                    required
                    onchange="loadModels()">
                {% for brand in model_moto %}
                <option value="{{ brand.name }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="motorcycle_model">Модель мотоцикла:</label>
            <select id="motorcycle_model" name="motorcycle_model" class="js-example-basic-single"
                    style="width: 100%;"
                    required>

            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="manufacturing_year">Год выпуска:</label>
            <input type="text" id="manufacturing_year" name="manufacturing_year" required>
        </div>
        <div class="col-md-6">
            <label for="vin_number">VIN номер:</label>
            <input type="text" id="vin_number" name="vin_number">
        </div>
    </div>

    <label for="part_name_or_article">Артикул или название запчасти:</label>
    <input type="text" id="part_name_or_article" name="part_name_or_article" required>

    <label for="additional_info">Дополнительная информация:</label>
    <textarea style="width: 100%" id="additional_info" name="additional_info" rows="3"></textarea>

    <button type="submit">Отправить запросы</button>
</form>

<div id="overlay">
    <div id="loadingMessage">Идет рассылка...</div>
    <a href="http://localhost:3000/api/screenshot?session=default" class="nav-link" target="_blank">Здесь появится
        QR код или главное меню</a>
</div>

<div id="messageContainer"></div>

<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        loadModels();
    });

    async function loadModels() {
        const brandInput = $('#motorcycle_brand');
        const modelInput = $('#motorcycle_model');

        const selectedBrand = brandInput.val();

        // Очистить список моделей
        modelInput.empty();

        // Если выбрана фирма, отправить запрос на получение моделей
        if (selectedBrand) {
            try {
                const response = await fetch(`/request/get_models/${selectedBrand}`);
                const data = await response.json();

                if (response.ok) {
                    // Если успешно, добавить модели в select2
                    data.models.forEach(model => {
                        const option = new Option(model, model);
                        modelInput.append(option);
                    });

                    // Обновить select2
                    modelInput.trigger('change');
                } else {
                    console.error('Ошибка при получении моделей');
                }
            } catch (error) {
                console.error('Ошибка:', error);
            }
        }
    }

    async function submitUsedPartsForm() {
        const form = document.getElementById('usedPartsForm');
        const overlay = document.getElementById('overlay');
        const loadingMessage = document.getElementById('loadingMessage');
        const messageContainer = document.getElementById('messageContainer');

        // Собираем данные из формы в объект
        const formData = {
            motorcycle_brand: form.elements.motorcycle_brand.value,
            motorcycle_model: form.elements.motorcycle_model.value,
            part_name_or_article: form.elements.part_name_or_article.value,
            additional_info: form.elements.additional_info.value,
            application_type: "{{application_type}}",
        };

        try {
            // Показываем оверлей перед отправкой
            overlay.style.display = 'flex';

            const response = await fetch('/request/used_parts/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            // После ответа от сервера
            overlay.style.display = 'none'; // Скрываем оверлей независимо от результата

            if (response.ok) {
                // Если успешно
                const data = await response.json();
                console.log('Данные отправлены:', data);
                showMessage('Данные успешно отправлены, заявка создана', false);
            } else {
                // Если ошибка
                console.error('Ошибка при отправке данных');

                // Пытаемся извлечь данные об ошибке из JSON-ответа
                try {
                    const errorData = await response.json();
                    if (errorData && errorData.detail) {
                        showMessage(`Ошибка: ${errorData.detail}`, true);
                    } else {
                        showMessage('Произошла ошибка. Пожалуйста, попробуйте еще раз.', true);
                    }
                } catch (error) {
                    console.error('Ошибка:', error);
                    showMessage('Произошла ошибка. Пожалуйста, попробуйте еще раз.', true);
                }
            }

        } catch (error) {
            console.error('Ошибка:', error);
            showMessage(`Произошла ошибка: ${error.message}`, true);
        }

        function showMessage(message, isError) {
            messageContainer.innerHTML = message;
            messageContainer.style.display = 'block';

            if (isError) {
                messageContainer.style.color = 'red';
            } else {
                messageContainer.style.color = 'green';
            }
        }
    }
</script>
{% endblock %}
