{% extends "test_base.html" %}

{% block title %}

    <title>Чат</title>
    <style>

        body {
            font-family: 'Noto Sans', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .chat-container {
            width: 100%;
            max-width: 1500px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .chat-header {
            background-color: #075e54;
            color: #fff;
            padding: 15px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

        .messages-container {
            padding: 15px;
            max-height: 800px;
            overflow-y: auto;
        }

        .message {
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
            max-width: 80%;
        }

        .my-message {
            background-color: #dcf8c6;
            align-self: flex-end;
        }

        .other-message {
            background-color: #e4e4e4;
            align-self: flex-start;
        }

        .message-body {
            max-width: 400px;
            word-wrap: break-word;
            font-size: 16px;
        }

        .message-sender {
            margin-bottom: 8px;
            font-size: 14px;
            color: #555;
        }

        .message-time {
            font-size: 12px;
            color: #888;
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block header %}Чат{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="chat-header">Чат с поставщиком</div>
    <div class="messages-container">
        {% for message in data %}
        <div class="message {% if message.name == 'МотоДвиж' %}my-message{% else %}other-message{% endif %}">
            {% if message.name != 'МотоДвиж' %}
                <div class="message-sender">{{ message.name }} ({{ message.phone_number }})</div>
            {% endif %}
            <div class="message-body">
                {% autoescape false %}{{ message.body|replace('\n', '<br>') }}{% endautoescape %}</div>
            <div class="message-time">{{ message.time }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
