{% extends "base.html" %}
{% block title %}
    <title>Форма создания продавца</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            width: 100%;
        }

        label {
            background-color: #fff;
            display: block;
            margin-bottom: 8px;
        }

        input, select {
            background-color: #fff;
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        .message {
            position: fixed;
            top: 120px; /* Верхний отступ */
            right: 10px; /* Правый отступ */
            background-color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .info_message li {
            max-width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 style="margin-top: 100px">Создание нового продавца</h1>

    <form id="createSellerForm">
        <label for="name">Название организации:</label>
        <input type="text" id="name" name="name_organization" required>

        <label for="location">Местоположение:</label>
        <input type="text" id="location" name="location">

        <label for="associativeWords">Ассоциативные слова:</label>
        <input type="text" id="associativeWords" name="associative_words">

        <label for="customerType">Вид заказчика:</label>
        <select id="customerType" name="customer_type">
            <option value="Оптовый">Оптовый</option>
            <option value="Розничный">Розничный</option>
            <option value="Разборка">Разборка</option>
        </select>

        <label for="telegramUrl">Telegram URL:</label>
        <input type="text" id="telegramUrl" name="telegram_url">

        <label for="vkUrl">VK URL:</label>
        <input type="text" id="vkUrl" name="vk_url">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email">

        <label for="phoneNumber">Номер телефона:</label>
        <input type="text" id="phoneNumber" name="phone_number">

        <button type="button" onclick="submitForm()">Создать продавца</button>
    </form>
    <div class="message">
        <div>
            <div id="errorMessage" style="display: none; color: red;"></div>
        </div>
        <div class="message-container" id="messageContainer" style="display: none;">
            <div id="createdSellerInfo">
                <h2 style="color: #4caf50">Продавец успешно создан!</h2>
                <p>Информация о продавце:</p>
                <ul id="sellerInfoList" class="info_message">
                    <!-- Информация о созданном продавце будет добавляться сюда динамически -->
                </ul>
            </div>
        </div>
    </div>
    <script>
    async function submitUsedPartsForm() {
        const form = document.getElementById('usedPartsForm');
        const overlay = document.getElementById('overlay');
        const loadingMessage = document.getElementById('loadingMessage');
        const messageContainer = document.getElementById('messageContainer');

        // Собираем данные из формы в объект
        const formData = {
            motorcycle_brand: form.elements.motorcycle_brand.value,
            motorcycle_model: form.elements.motorcycle_model.value,
            part_name_or_article: form.elements.part_name_or_article.value,
            additional_info: form.elements.additional_info.value,
        };

        try {
            // Показываем оверлей перед отправкой
            overlay.style.display = 'flex';

            const response = await fetch('/request/used_parts/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            // После ответа от сервера
            overlay.style.display = 'none'; // Скрываем оверлей независимо от результата

            if (response.ok) {
                // Если успешно
                const data = await response.json();
                console.log('Данные отправлены:', data);
                showMessage('Данные успешно отправлены', false);
            } else {
                // Если ошибка
                console.error('Ошибка при отправке данных');

                // Пытаемся извлечь данные об ошибке из JSON
                try {
                    const errorData = await response.json();
                    if (errorData && errorData.detail) {
                        showMessage(`Ошибка: ${errorData.detail}`, true);
                    } else {
                        showMessage('Произошла ошибка. Пожалуйста, попробуйте еще раз.', true);
                    }
                } catch (error) {
                    console.error('Ошибка:', error);
                    showMessage('Произошла ошибка. Пожалуйста, попробуйте еще раз.', true);
                }
            }
        } catch (error) {
            console.error('Ошибка:', error);
            showMessage(`Произошла ошибка: ${error.message}`, true);
        }

        function showMessage(message, isError) {
            messageContainer.innerHTML = message;
            messageContainer.style.display = 'block';

            if (isError) {
                messageContainer.style.color = 'red';
            } else {
                messageContainer.style.color = 'green';
            }
        }
    }
{% endblock %}
